* {
	margin: 0;
}


body {
	background-image: url(../images/gnam_gnam.jpg);
	background-size: cover;
	font-family: "Georgia";
	font-size: 20px;
	color: rgb(43,29,23);
}

header h1 {
	opacity: 100%;
	font-size: 50px;
	padding: 20px;
	color: rgb(79, 17, 6);
	text-align: center;
}

footer {
	background-color: rgb(87, 39, 8);
	height: 100px;
}

footer a {
	color: burlywood;
}

ul {
	list-style-type: circle;
}

h1 {
	font-size: 50px;
	padding: 20px;
	color: rgb(79, 17, 6);
	text-align: center;
}

h2 {
	text-align: center;
	margin: 8px;
	color: rgb(79, 17, 6);
}


h3 {
	font-size: 26px;
	margin: 8px;
	color: rgb(79, 17, 6);
}

#h2-sopra-elenco {
	text-align: left;
	margin: 8px;
	color: rgb(79, 17, 6);
}

h4 {
	margin: 8px;
	color: rgb(79, 17, 6);
}


header {
	opacity:90%;
	margin-bottom: 20px;
	background-color: rgb(223, 134, 84);
	height: 100px
}

nav {
	position: sticky;
	top: 0;
	background-color: rgb(87, 39, 8);
	height: 50px;
}

nav a {
	text-decoration: none;
}

span {
	margin: 8px;
}

input {
	border-radius: 10%;
	border-style: inset;
	background-color: antiquewhite;
	font-family: Georgia;
	font-size: 15px;
}

input.submit {
	border: 2px rgb(237, 185, 134) outset;
	border-radius: 10%;
	background-color: rgb(245, 205, 172);
	color: rgb(66, 47, 39);
	font-weight: bold;
	font-size: 18px;
	padding: 8px 20px;
	cursor: pointer;
}

button.submit {
	border: 2px rgb(237, 185, 134) outset;
	border-radius: 10%;
	background-color: rgb(245, 205, 172);
	color: rgb(66, 47, 39);
	font-weight: bold;
	font-size: 18px;
	padding: 8px 20px;
	cursor: pointer;
}

select {
	border: 2px antiquewhite outset;
	border-radius: 10%;
	background-color: antiquewhite;
	color: rgb(66, 47, 39);
	font-weight: bold;
	font-size: 18px;
	padding: 8px 20px;
	cursor: pointer;
}


div {
	margin: 8px;
}

form.loginform {
	text-align: center;
}

#flex-container-1 {
	display: flex;
	justify-content: flex-start;
	height: 400px;
	padding: 70px;
	margin: 10px;
}

#flex-container-1-list {
	margin: 0;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    height: auto;
    overflow: hidden;
 }

#flex-container-1-list::before {
	margin: 0;
    content: ""; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/oldbook.png);
    background-size: cover;
    opacity: 60%;
    z-index: 0; 
    border-radius: 12px; 
 }
 
 .content {
	 position: relative;
	 z-index: 1;
 }

#flex-container-1-centered {
	display: flex;
	justify-content: center;
	height: 400px;
	padding: 10px;
	margin: 10px;
}

#flex-container-1-separatore-generico {
	background-color: antiquewhite;
	display: flex;
	justify-content: center;
	height: 30px;
	padding: 70px;
	margin: 10px;
}

#flex-container-1-image {
	display: flex;
	justify-content: center;
	padding: 20px;
	margin: 10px;
}

#flex-container-1-image-column {
	display: flex;
	justify-content: center;
	padding: 20px;
	margin: 10px;
	flex-direction: column;
}

#flex-container-1-2 {
	display: flex;
	justify-content: center;
	height: 200px;
	padding: 70px;
	margin: 10px;
}

#flex-container-2 {
	border-color:  rgb(37, 27, 16);
	border-radius: 10px;
	background-color: rgb(223, 166, 99);
	display: flex;
	justify-content: flex-start;
	height: 340px;
	width: 300px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
}

#flex-container-2-light {
	background-color: rgb(225, 201, 163);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 340px;
	width: 300px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: solid;
	border-color: maroon;
}

#flex-container-2-light-withbookimage {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 340px;
	width: 300px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: solid;
	border-color: maroon;
}

#flex-container-2-light-withbookimage-medium {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 360px;
	width: 450px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border: 5px;
	border-style: double;
	border-color: rgb(39, 26, 8);
}

#flex-container-2-light-withbookimage-medium-login {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	height: 250px;
	width: 300px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border: 5px;
	border-style: double;
	border-color: rgb(39, 26, 8);
}

#flex-container-2-light-withbookimage-very-short-but-wide {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 120px;
	width: 500px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border: 4px;
	border-style: double;
	border-color: rgb(39, 26, 8);
}

#flex-container-2-light-withbookimage-short-but-wide {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 170px;
	width: 600px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: double;
	border-color: rgb(39, 26, 8);
	
}

#flex-container-2-light-withbookimage-medium-centered {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 240px;
	width: 400px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: double;
	border-color: rgb(39, 26, 8);
}


#flex-container-2-light-withbookimage-large-centered {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 280px;
	width: 400px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: double;
	border-color: rgb(39, 26, 8);
}

#flex-container-2-light-withbookimage-medium-but-wide {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 240px;
	width: 600px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: double;
	border-color: rgb(39, 26, 8);
}

#flex-container-2-light-withbookimage-slightly-larger-but-wide {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 280px;
	width: 600px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: double;
	border-color: rgb(39, 26, 8);
}

#flex-container-2-light-withbookimage-large-but-wide {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 330px;
	width: 600px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: double;
	border-color: rgb(39, 26, 8);
}

#flex-container-2-light-withbookimage-large {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 360px;
	width: 500px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: double;
	border-color: rgb(39, 26, 8);
}

#flex-container-2-light-withbookimage-very-large {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 400px;
	width: 500px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: double;
	border-color: rgb(39, 26, 8);
}

#flex-container-2-light-withbookimage-large-register {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 400px;
	width: 300px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
	border-style: double;
	border-color: rgb(39, 26, 8);
}

#flex-container-2-light-very-large {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	height: 420px;
	width: 950px;
	padding: 30px;
	margin: 10px;
	border: 4px;
	border-style: groove;
	border-color: rgb(39, 26, 8);
}

#flex-container-enormous {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	height: 700px;
	width: 950px;
	padding: 30px;
	margin: 10px;
	border: 4px;
	border-style: double;
	border-color: rgb(39, 26, 8);
}


#flex-container-2-light-withbookimage-short {
	background-image: url(../images/oldbook.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 320px;
	width: 300px;
	padding: 10px;
	margin: 10px;
	flex-direction: column;
	border: 5px;
	border-style: solid;
	border-color: maroon;
}

#flex-container-2-light-withcuocoimage {
	background-image: url(../images/cuoco-pattern-for-flexbox.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 340px;
	width: 300px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
}

#flex-container-2-light-withfoodimage {
	background-image: url(../images/food-pattern-for-flexbox-2.png);
	background-size: cover;
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	height: 340px;
	width: 300px;
	padding: 30px;
	margin: 10px;
	flex-direction: column;
}

#flex-container-2-imageCuoco {
	border-color:  rgb(37, 27, 16);
	border-radius: 10px;
	background-color: rgb(59, 23, 17);
	display: flex;
	justify-content: center;
	height: 320px;
	width: 300px;
	padding: 10px;
	margin-top: 20px;
	margin: 10px;
	flex-direction: column;
}

#flex-container-3 {
	border-radius: 10px;
	background-color: rgb(223, 166, 99);
	display: flex;
	justify-content: flex-start;
	height: 150px;
	width: 300px;
	padding: 10px;
	margin: 10px;
	flex-direction: column;
}

#flex-container-3-same-as-banner {
	border-radius: 10px;
	background-color: rgb(223, 134, 84);
	display: flex;
	justify-content: flex-start;
	height: 150px;
	width: 300px;
	padding: 10px;
	margin: 10px;
	flex-direction: column;
}

#centered {
	text-align:center;
}

div.flex-item {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

div.testo-centrato {
	text-align: center;
}

a.testo-centrato {
	text-align: center;
}

span.username-in-alto {
	color: burlywood;
}

span.flex-item-title {
	text-align: center;
}

span.titolo-flexbox {
	text-align: center;
	color: rgb(66, 24, 10);
	padding: 5px;
	border-bottom-color: brown;
	border-bottom-style: solid;
	border-width: 3px;
	font-size: 25px;
}

span.testo-flexbox-centrato {
	text-align: center;
}

span.testo-ingrediente-senza-spazio {
	margin: 0;
	padding: 0;
}

header a {
	text-decoration: none;
}

nav a:visited {
	text-align: end;
	color: rgb(239, 158, 120);
}

nav a:link {
	text-align: end;
	color: burlywood;
}

nav a:hover {
	text-align: end;
	color: crimson;
}

nav a:active {
	text-align: end;
	color: coral;
}

a:link {
	color:rgb(76, 40, 12);
}

a:visited {
	color:rgb(95, 50, 15);
}

a:hover {
	color: crimson;
}

a:active {
	color: coral;
}
