<!DOCTYPE html>
<html>
	
	<head>
		<title>SiwFood</title>
		<link rel = "stylesheet" type = "text/css" href = "/css/stile.css">
	</head>
	
	<body>
		
	<nav th:if="${userDetails!=null}">
        <span class="username-in-alto" th:text="${userDetails.username}"></span>
        <br>
        <span><a href = "/logout">Logout</a></span>
        <br>
    </nav>

   	<nav th:unless="${userDetails!=null}">
        <a th:href="@{/register}">Clicca qui per registrarti!</a> <br>
        <a th:href="@{/login}">Accedi</a> <br>
    </nav>
	
	<header>
		<a href = "/"><h1>SiwFood</h1></a>
	</header>
	
	<h2 id="h2-sopra-elenco">Ingredienti:</h2>			
		<div id="flex-container-1-list">
			<div class="content">
			<h2 th:if="${ingredienti==null || ingredienti.isEmpty()}">Non ci sono ingredienti nel sistema!</h2>
				<ul>
					<li th:each="ingrediente : ${ingredienti}">
						<a th:href="@{ '/ingrediente' + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome}">Ingrediente</a>
					</li>	
				</ul>
			</div>
		</div>	
	</body>	
</html>