<!DOCTYPE html>
<html>
	<head>
		<title>SiwFood</title>
		<link rel = "stylesheet" type = "text/css" href = "/css/stile.css">
	</head>
	<body>
	<nav>
	<span class="username-in-alto" th:if="${userDetails!=null}" th:text="${userDetails.username}"></span>
	<br>
	<span><a href = "/logout">Logout</a></span>
	</nav>
	<header>
		<a href = "/"><h1>SiwFood</h1></a>
	</header>
			<h2 id="h2-sopra-elenco">Ricette:</h2>			
		<div>
			<div th:if="${ricette==null || ricette.isEmpty()}">Non ci sono ricette nel sistema!</div>
				<ul>
					<li th:each="ricetta : ${ricette}">
						<a th:href="@{ '/ricetta' + '/' + ${ricetta.id}}" th:text="${ricetta.titolo}">Ricetta</a>
					</li>	
				</ul>
		</div>
	</body>	
</html>