<!DOCTYPE html>
<html>
	
	<head>
		<title>SiwFood</title>
		<link rel = "stylesheet" type = "text/css" href = "/css/stile.css">
	</head>
	
	<body>
		
	<nav th:if="${userDetails!=null}">
        <span class="username-in-alto" th:text="${userDetails.username}"></span>
        <br>
        <span><a href = "/logout">Logout</a></span>
        <br>
    </nav>

   	<nav th:unless="${userDetails!=null}">
        <a th:href="@{/register}">Clicca qui per registrarti!</a> <br>
        <a th:href="@{/login}">Accedi</a> <br>
    </nav>
		
	<header>
		<a href = "/"><h1>SiwFood</h1></a>
	</header>
	
	<h2 id="h2-sopra-elenco">Cuochi trovati:</h2>			
		<div id="flex-container-1-list">
			<div class="content">
			<h2 th:if="${cuochi==null || cuochi.isEmpty()}"><br>Non ci sono cuochi con questo cognome nel sistema!</h2>
				<ul>
					<div><br></div>
					<li th:each="cuoco : ${cuochi}">
						<a th:href="@{ '/cuoco' + '/' + ${cuoco.id}}" th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}">Cuoco</a>
					<div><br></div>
					</li>	
				</ul>
			</div>
		</div>
		
	</body>	
</html>