<!DOCTYPE html>
<html>
<head>
    <title>SiwFood - Pagina ricerca ingrediente per nome</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<nav>
	</nav>
	<header>
		<h1>SiwFood</h1>
	</header>
    <h2>Cerca ingrediente per nome</h2>
    <br>
    <span>L'ingrediente che hai cercato non esiste!</span>
    <form th:action="@{/cercaIngredientePerNome}" method="POST"}>
		<div>
        	Nome ingrediente: <input required type="text" th:value="${nome}" name="nome">
			<br><br>
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>