<!DOCTYPE html>
<html>
<head>
    <title>SiwFood - Pagina nuova ricetta</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<nav>
	</nav>
	<header>
		<a href = "/"><h1>SiwFood</h1></a>
	</header>
    <h2>Aggiungi nuova ricetta</h2>
    <form th:action="@{/aggiungiRicetta}" method="POST" th:object="${nuovaRicetta}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
		</div>
		<div>
			Titolo: <input required type="text" th:field="${nuovaRicetta.titolo}">
    		<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
			<br><br>
			Descrizione: <input type="text" th:field="${nuovaRicetta.descrizione}">
			<br><br>
			Percorsi file immagini: <input type="text" th:field="${nuovaRicetta.tuttiPathDelleImmagini}">
			<br><br>			
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>