<!DOCTYPE html>
<html>
<head>
    <title>SiwFood - Pagina eliminazione ricette</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<nav>
	</nav>
	<header>
		<h1>SiwFood</h1>
	</header>
    <h2>Rimuovi ricetta</h2>
    <form th:action="@{/rimuoviRicetta}" method="POST" th:object="${ricettaDaRimuovere}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
		</div>
		<div>
			Titolo ricetta: <select th:field="${ricettaDaRimuovere.titolo}">
                    		<option th:each="titoloRicetta : ${titoliRicetteCuoco}" th:value = "${titoloRicetta}" th:text="${titoloRicetta}">Titolo</option>
                   			</select>
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>