<!DOCTYPE html>
<html>
	<head>
		<title>SiwFood Registration</title>
		<link rel = "stylesheet" type = "text/css" href = "/css/stile.css">
	</head>
	<body>
	<nav>
	</nav>
	<header>
		<a href = "/"><h1>SiwFood</h1></a>
	</header>
		<h2>Registrazione nuovo utente:</h2>
		<div id = "flex-container-1-centered">
		<div id = "flex-container-2-light-withbookimage-large">
		<form th:action="@{/register}" method="POST" th:object="${credentials}"> 
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
			</div>
			<label for="username">Username:</label><br>
			<input type = "text" th:field="${credentials.username}" required>
			<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				<br><br>
			<label for="password">Password:</label><br>
			<input type = "password" th:field="${credentials.password}" required>
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				<br><br>
			<label for="nome">Nome:</label><br>
			<input type = "text" th:field="${cuoco.nome}" required>
			<span th:if="${cuocoErrors != null and cuocoErrors.hasFieldErrors('nome')}" th:errors="${cuoco.nome}"></span>
				<br><br>
			<label for="cognome">Cognome:</label><br>
			<input type = "text" th:field="${cuoco.cognome}" required>
			<span th:if="${cuocoErrors != null and cuocoErrors.hasFieldErrors('cognome')}" th:errors="${cuoco.cognome}"></span>
				<br><br>
			<label for="dataNascita">Data di nascita:</label><br>
			<input type = "date" th:field="${cuoco.dataNascita}" required>
			<span th:if="${cuocoErrors != null and cuocoErrors.hasFieldErrors('dataNascita')}" th:errors="${cuoco.dataNascita}"></span>
				<br><br>
			<input type = "submit" value = "Registrati">
			</div>
		</div>	
		</form>
	</body>	
</html>