<!DOCTYPE html>
<html>
	<head>
		<title>SiwFood</title>
		<link rel = "stylesheet" type = "text/css" href = "/css/stile.css">
	</head>
	<body>
		<h1>SiwFood</h1>
		<h2>IO ADORO SIWFOOD</h2>
		<div>
		<br><br>
			Gestione cuochi:
			<br>
			<a th:href="@{/elencoCuochi}">Elenco cuochi</a>
			<br>
			<a th:href="@{/aggiungiCuoco}">Aggiungi cuochi</a>
			<br>
			<a th:href="@{/cercaCuochi}">Cerca cuochi</a>
			<br>
			<a th:href="@{/rimuoviCuoco}">Rimuovi cuochi</a>
			<br><br>
			Gestione ricette:
			<br>
			<a th:href="@{/elencoRicette}">Elenco ricette</a>
			<br>
			<a th:href="@{/aggiungiRicetta}">Aggiungi ricette</a>
			<br>
			<a th:href="@{/aggiungiRicettaCompleta}">Aggiungi ricette complete</a>
			<br>
			<a th:href="@{/cercaRicette}">Cerca ricette</a>
			<br>
			<a th:href="@{/rimuoviRicetta}">Rimuovi ricette</a>
			<br><br>
			Gestione ingredienti:
			<br>
			<a th:href="@{/elencoIngredienti}">Elenco ingredienti</a>
			<br>
			<a th:href="@{/aggiungiIngrediente}">Aggiungi ingrediente</a>
			<br>
			<a th:href="@{/cercaIngredienti}">Cerca ingredienti</a>
			<br>
			<a th:href="@{/rimuoviIngrediente}">Rimuovi ingredienti</a>
			<br><br>
			<br><br>
			Registrati!
			<br>
			<a th:href="@{/register}">Clicca qui per registrarti</a>
			<br>
			Accedi!
			<br>
			<a th:href="@{/login}">Accedi</a>
			<br><br>
		</div>
	</body>	
</html>