<!DOCTYPE html>
<html>

<head>
    <title>SiwFood - Pagina Ingrediente</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div th:if="${ingrediente}">
         <h1 th:text="${ingrediente.nome}">Nome ingrediente </h1>
         <span th:if = "${ingrediente.pathImmagine != null && ingrediente.pathImmagine != ''}"> <img th:src="'/images' + '/' + ${ingrediente.pathImmagine}"> </span>
          <span th:if = "${ingrediente.unitàDiMisura != null && ingrediente.unitàDiMisura != ''}" > 
			  <div th:text="'Unità di misura: ' + ${ingrediente.unitàDiMisura}"></div>
		  </span>
		  <span th:if = "${ingrediente.unitàDiMisura == null || ingrediente.unitàDiMisura == ''}" > 
			  <div th:text="'Unità di misura: singole unità'"></div>
		  </span>
    </div>
    <div th:unless="${ingrediente}">Questo ingrediente non è presente nel sistema!</div>
</body>

</html>