<!DOCTYPE html>
<html>
	<head>
		<title>SiwFood Login</title>
		<link rel = "stylesheet" type = "text/css" href = "/css/stile.css">
	</head>
	<body>
	<nav>
	<span class="username-in-alto" th:if="${userDetails!=null}" th:text="${userDetails.username}"></span>
	<a href = "/logout">Logout</a>
	</nav>
	<header>
		<a href = "/"><h1>SiwFood</h1></a>
	</header>
		<h2>Login utente:</h2>
		<div id = "flex-container-1-centered">
		<div id = "flex-container-2-light-withbookimage-medium">
		<form th:action="@{/login}" method="POST"> 
			<label for="username">Username:</label><br>
			<input type = "text" id="username" name="username" required>
				<br><br>
			<label for="password">Password:</label><br>
			<input type = "password" id="password" name="password" required>
				<br><br>
			<div>
				<span th:if="${param.error != null}">
					<span>Username o password errati!</span>
				</span>
			</div>	
			<input type = "submit" value = "Accedi">
			</div>
			</div>	
		</form>
	</body>	
</html>