<!DOCTYPE html>
<html>

<head>
    <title>SiwFood - Pagina Ricetta</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div th:if="${ricetta}">
         <h1 th:text="${ricetta.titolo}">Titolo ricetta </h1>
         	<ul>
				<li th:each="immagine : ${ricetta.pathImmagini}">
					<img th:src="'/' + ${immagine}">
				</li>
			</ul>
		 <div>
			 Ideata da:<span th:text="' ' + ${ricetta.cuoco.nome} + ' ' + ${ricetta.cuoco.cognome}"></span>
		 </div>
         <div>
			 <span th:text="${ricetta.descrizione}"></span>
		 </div>
		 <div>
			Ingredienti:
			<ul>
				<li th:each="ingrediente : ${listaIngredienti}">
					<a th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome} + ': ' "> Ingrediente Generico</a> 
					<span th:text="${ricetta.ingredienti.get(ingrediente)} + 'g'"> </span>
				</li>
			</ul>
		 </div>
    </div>
    <div th:unless="${ricetta}">Questa ricetta non è presente nel sistema!</div>
</body>

</html>