<!DOCTYPE html>
<html>
	<head>
		<title>SiwFood</title>
		<link rel = "stylesheet" type = "text/css" href = "/css/stile.css">
	</head>
	<body>
		<nav>
		<span class="username-in-alto" th:text="${userDetails.username}"></span>
		<br>
		<span><a href = "/logout">Logout</a></span>
		</nav>
		<header>
			<a href = "/"><h1>SiwFood</h1></a>
		</header>
		<h2>Gestione dati Ricette:</h2>			
		<div id = "flex-container-1-list">
		<div class="content">
			<div th:if="${ricette==null || ricette.isEmpty()}">Non ci sono ricette nel sistema!</div>
				<ul>
					<div><br></div>
					<li th:each="ricetta : ${ricette}">
						<strong><a th:href="@{ '/ricetta' + '/' + ${ricetta.id}}" th:text="${ricetta.titolo} + ': '">Ricetta</a></strong>
						<a th:href="@{ '/admin/impostaCuocoARicetta' + '/' + ${ricetta.id}}">Imposta Cuoco</a>
						<a th:href="@{ '/admin/modificaIngredientiRicetta' + '/' + ${ricetta.id}}">Modifica Ingredienti</a>
					<div><br></div>
					</li>	
				</ul>
		</div>
		</div>
	</body>	
</html>