<!DOCTYPE html>
<html>
	<head>
		<title>SiwFood</title>
		<link rel = "stylesheet" type = "text/css" href = "/css/stile.css">
	</head>
	<body>
		<nav>
		<span class="username-in-alto" th:text="${userDetails.username}"></span>
		<br>
		<span><a href = "/logout">Logout</a></span>
		</nav>
		<header>
			<a href = "/"><h1>SiwFood</h1></a>
		</header>
			<h2 th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}">Nome cuoco</h2>			
			<h3>Ricette assegnate al cuoco:</h3>
			<div>Clicca su una ricetta per rimuoverla!</div>
		<div>
			<div th:if="${ricetteDelCuoco==null || ricetteDelCuoco.isEmpty()}">Non ci sono ricette del cuoco!</div>
				<ul>
					<li th:each="ricetta : ${ricetteDelCuoco}">
						<a th:href="@{ '/admin/rimuoviRicettaDaCuoco' + '/' +${cuoco.id} + '/' + ${ricetta.id}}" th:text="${ricetta.titolo}">Ricetta</a>
					</li>	
				</ul>
		</div>
		<br>
			<h3>Ricette da assegnare al cuoco:</h3>
			<div>Clicca su una ricetta per assegnarla al cuoco!</div>
		<div>
			<div th:if="${ricetteDaAggiungere==null || ricetteDaAggiungere.isEmpty()}">Non ci sono ricette da assegnare al cuoco!</div>
				<ul>
					<li th:each="ricetta : ${ricetteDaAggiungere}">
						<a th:href="@{ '/admin/aggiungiRicettaACuoco' + '/' +${cuoco.id} + '/' + ${ricetta.id}}" th:text="${ricetta.titolo}">Ricetta</a>
					</li>	
				</ul>
		</div>
	</body>	
</html>