<!DOCTYPE html>
<html>
<head>
    <title>SiwFood - Pagina nuova ricetta</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<nav>
	<span class="username-in-alto" th:text="${userDetails.username}"></span>
	<br>
	<span><a href = "/logout">Logout</a></span>
	</nav>
	<header>
		<a href = "/"><h1>SiwFood</h1></a>
	</header>
    <h2>Aggiungi nuova ricetta</h2>
    <div id = "flex-container-1-centered">
	<div id = "flex-container-2-light-withbookimage-large-but-wide">
    <form th:action="@{/admin/aggiungiRicettaCompleta}" method="POST" th:object="${nuovaRicetta}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
		</div>
		<div>
			Titolo: <input required type="text" th:field="${nuovaRicetta.titolo}">
    		<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
			<br><br>
			Descrizione: <input type="text" th:field="${nuovaRicetta.descrizione}">
			<br><br>
			Nome del cuoco: <select th:field="${cuoco.nome}">
                    			<option th:each="nomeCuoco : ${nomiCuochi}" th:value = "${nomeCuoco}" th:text="${nomeCuoco}">Nome</option>
                   			</select>
        	<span th:if="${#fields.hasErrors('cuoco.nome')}" th:errors="{cuoco.nome}"></span>
			<br><br>
			Cognome del cuoco: <select th:field="${cuoco.cognome}">
                    			<option th:each="cognomeCuoco : ${cognomiCuochi}" th:value = "${cognomeCuoco}" th:text="${cognomeCuoco}">Cognome</option>
                   			</select>
        	<span th:if="${#fields.hasErrors('cuoco.cognome')}" th:errors="{cuoco.cognome}"></span>
			<br><br>
			Data di nascita del cuoco: <select th:field="${cuoco.dataNascita}">
                    				   <option th:each="dataNascita : ${dateNascitaCuochi}" th:value = "${dataNascita}" th:text="${dataNascita}">Data Nascita</option>
                   					   </select>
    		<span th:if="${#fields.hasErrors('cuoco.dataNascita')}" th:errors="{cuoco.dataNascita}"></span>
			<br><br>
			Percorsi file immagini: <input type="text" th:field="${nuovaRicetta.tuttiPathDelleImmagini}">
			<br><br>			
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
    </div>
    </div>
</body>
</html>