<!DOCTYPE html>
<html>
<head>
    <title>SiwFood - Pagina eliminazione ingrediente</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<nav>
	</nav>
	<header>
		<h1>SiwFood</h1>
	</header>
    <h2>Rimuovi ingrediente</h2>
    <form th:action="@{/admin/rimuoviIngrediente}" method="POST" th:object="${ingredienteDaRimuovere}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
		</div>
		<div>
        	Nome: <select th:field="${ingredienteDaRimuovere.nome}">
                    	<option th:each="nomeIngrediente : ${nomiIngredienti}" th:value = "${nomeIngrediente}" th:text="${nomeIngrediente}">Nome</option>
                   </select>
        		<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				<br><br>
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>